<form name="taskForm" novalidate>
	<md-input-container flex>
		<label>Name</label>
		<input name="name" ng-model="selectedTask.name" ng-model-options="{ getterSetter: true }" required></input>
		<div ng-messages="taskForm.name.$error" role="alert">
          <div ng-message="required">Task must have a name</div>
        </div>
	</md-input-container>
	<md-input-container flex>
		<label>Duration</label>
		<input type="number" name="duration" ng-model="selectedTask.duration" ng-model-options="{ getterSetter: true }" required></input>
		<div ng-messages="taskForm.duration.$error" role="alert">
          <div ng-message="required">Task must have a duration</div>
       </div>
	</md-input-container>
	<div layout="row" layout-align="space-between center">
		<md-button class="md-raised md-primary">Cancel</md-button>
		<md-button class="md-raised md-primary">Accept</md-button>
	</div>
</form>