body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	flex-direction: row;
	display: flex;
}

#gantt {
	border: solid 0px;
	/*cursor: pointer;
    position:fixed;
    left:0;
    top:0;
    width: 100%;
	height: 100%;*/
}

.allViewPort {
	width: 100vw;
	height: 100vh;
}

vatuta-gantt {
	width: 100%;
	height: 100%;
}

vatuta-gantt #container{
    position: absolute;
    top: 45px;
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto;
    width: 100vw;
}

vatuta-gantt #ganttCanvas {
    overflow-x: visible;
    overflow-y: visible;
}

#tasksGrid {
	width: 100%;
	height: 100%;
}

#tasksGrid .ui-grid-header-cell {
  height: 35px;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

#vertical-container{
	width: 100%;
	height: 100%;
}

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 450px !important;
 width: 50vw !important;
 max-width: 600px !important;
}

/* To disable x-axis scrollbar on sidenav */ 
vatuta-task-editor md-content {
    overflow-x: hidden;
}

vatuta-task-editor form {
	padding: 0px 16px 0px 16px;
}

vatuta-task-editor .dependencyIcon {
	padding-left: 16px;
    padding-right: 16px;
}

.dependencyTypeOption .rightSide .secondLine {
    font-size: small;
}
.dependencyTypeOption .rightSide {
    padding-left: 1em;
}

/* To avoid 24px border of the icon in the menu item */
vatuta-menu md-menu button md-icon {
    margin-left: 0px;
    margin-right: 0px;
}

/* Workaround for 5600 issue (SpeedDial does not hide items */
.custom-fab md-fab-actions .md-fab-action-item {
  transition: none;
}
.custom-fab:not(.md-is-open) md-fab-actions {
  visibility: hidden;
}

/* Sets size to project dataTable */
/*.dataTable {
    width: 100%;
	height: 100%;
}*/

/*.ui-grid-cell .stringEditCell {
	color: red;
}*/

.ui-grid-cell form .stringEditInput {
	border:0;
}

.cell-error-icons {
	font-size: 20px;
}