<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vatuta</title>

<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" type="text/css" href="css/vatuta.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
	data-dojo-config="async: true,
					  packages : [
					  	{name : 'vatuta', location: '/vatuta'},
					  	{name : 'underscorejs',	location : 'http://underscorejs.org', main: 'underscore-min'},
					  	{name : 'lodash', location: '/lib', main: 'lodash.min'},
					  	{name : 'easeljs', location: 'https://code.createjs.com', main: 'easeljs-0.8.1.min'},
					  	{name : 'resurrect', location: '/lib', main: 'resurrect'},
					  	{name : 'moment', location: '/lib', main: 'moment.min'}
					  ], 
					  baseUrl : '/'"></script>
<script
	src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.1/angular-material.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.1/angular-material.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

<script src="vatuta/app.js"></script>
<script src="vatuta/controllers.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70012211-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body ng-controller="projectCtrl as ctrl" layout="column" layout-align="space-between start" ng-cloak>
	<md-fab-speed-dial md-direction="left" ng-class="md-fling" class="md-fab-top-right">
    	<md-fab-trigger>
	    	<md-button aria-label="menu" class="md-fab md-raised md-mini md-primary">
	        	<md-tooltip md-direction="top">Menu</md-tooltip>
	            <md-icon md-svg-src="icons/ic_menu_white_48px.svg"></md-icon>
          	</md-button>
        </md-fab-trigger>
        <md-fab-actions>
        	<md-menu ng-controller="menuBarCtrl as ctrl">
	        	<md-button aria-label="Task dependencies" class="md-fab md-raised md-mini" ng-click="$mdOpenMenu($event)">
	          		<md-tooltip md-direction="top">File</md-tooltip>
	            	<md-icon md-svg-src="icons/ic_folder_open_black_48px.svg" aria-label="File"></md-icon>
	        	</md-button>
	        	<md-menu-content width="2">
	          		<md-menu-item>
              			<md-button ng-click="fileOpen($event)">
              				<span md-menu-align-target>Open...</span>
              			</md-button>
            		</md-menu-item>
            		<md-menu-item>
              			<md-button ng-click="fileSave($event)">
              				<span md-menu-align-target>Save...</span>
              			</md-button>
            		</md-menu-item>
            		<md-menu-item>
            			<md-button ng-click="asImage($event)">
              				<span md-menu-align-target>As image...</span>
              			</md-button>
            		</md-menu-item>
	          	</md-menu-content>
	      	</md-menu>
		</md-fab-actions>
    </md-fab-speed-dial>
	<div layout="row" flex>
		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
			<div layout="column">
				<vatuta-task-editor project-data="project" selected-task="selectedTask"></vatuta-task-editor>
			</div>
		</md-sidenav>
		<div layout="column" flex id="content">
			<md-content layout="column" flex>
				<vatuta-gantt project-data='project' listener="ganttListener" canvas-options='canvasOptions'></vatuta-gantt>
			</md-content>
		</div>
	</div>
</body>
</html>
