<md-toolbar>
     <div class="md-toolbar-tools" >
       <md-button class="md-icon-button" aria-label="Decrease indent" ng-disabled="true">
         <md-icon md-svg-icon="icons/ic_format_indent_decrease_white_48px.svg"></md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="Increase indent" ng-disabled="true">
         <md-icon md-svg-icon="icons/ic_format_indent_increase_white_48px.svg"></md-icon>
       </md-button>
       <span flex></span>
       <md-button class="md-icon-button" aria-label="Menu" ng-disabled="true">
         <md-icon md-svg-icon="icons/ic_menu_white_48px.svg"></md-icon>
       </md-button>
     </div>
</md-toolbar>
<div>
	<table class="calendarTable">
		<tr ng-repeat="$row in getSequence(rows)" class="calendarRow">
			<td ng-repeat="$column in getSequence(columns)" class="calendarCell">
				<span class="monthName">{{moment.months(columns*$row+$column)}}</span>
				<table class="calendarMonth">
					<tr>
					<th ng-repeat="$weekDay in getWeekDays()" class="weekDays">{{$weekDay}}</th>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<View-Selector></View-Selector>