<div layout="column" flex>
	 <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Decrease indent" ng-disabled="true">
          <md-icon md-svg-icon="icons/ic_format_indent_decrease_white_48px.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Increase indent" ng-disabled="true">
          <md-icon md-svg-icon="icons/ic_format_indent_increase_white_48px.svg"></md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Menu" ng-disabled="true">
          <md-icon md-svg-icon="icons/ic_menu_white_48px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
	<div id="dataTable" ui-grid="dataTableOptions" class="dataTable"
	ui-grid-move-columns  ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-cellNav ui-grid-edit ui-grid-selection></div>
</div>
<View-Selector></View-Selector>