<vatuta-toolbarmenu></vatuta-toolbarmenu>
<div layout="row" flex>
	<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
		<div layout="column">
			<vatuta-task-editor project-data="project" selected-task="selectedTask"></vatuta-task-editor>
		</div>
	</md-sidenav>
	<div layout="column" flex id="content">
		<md-content layout="column" flex class>
			<vatuta-gantt project-data='project' listener="ganttListener" canvas-options='canvasOptions'></vatuta-gantt>
		</md-content>
	</div>
</div>