<md-toolbar>
     <div class="md-toolbar-tools" >
     	<md-menu md-offset="0 64">
	       <md-button class="md-icon-button" aria-label="File" ng-click="$mdOpenMenu($event)">
	         <md-icon md-svg-icon="icons/ic_folder_open_white_48px.svg"></md-icon>
	       </md-button>
	       <md-menu-content width="2">
	       		<md-menu-item>
	          			<md-button ng-click="fileOpen($event)">
	          				<span md-menu-align-target>Open...</span>
	          			</md-button>
	        		</md-menu-item>
	        		<md-menu-item>
	          			<md-button ng-click="fileSave($event)">
	          				<span md-menu-align-target>Save...</span>
	          			</md-button>
	        		</md-menu-item>
	        		<md-menu-item>
	        			<md-button ng-click="asImage($event)">
	          				<span md-menu-align-target>As image...</span>
	          			</md-button>
	        		</md-menu-item>
	       	</md-menu-content> 
        </md-menu>
        <md-menu md-offset="0 64">
	       <md-button class="md-icon-button" aria-label="Add task" ng-click="$mdOpenMenu($event)">
	         <md-icon md-svg-icon="icons/ic_add_circle_outline_white_48px.svg"></md-icon>
	       </md-button>
	       <md-menu-content width="2">
	       		<md-menu-item>
	          			<md-button ng-click="fileOpen($event)">
	          				<span md-menu-align-target>Before this task</span>
	          			</md-button>
	        		</md-menu-item>
	        		<md-menu-item>
	          			<md-button ng-click="fileSave($event)">
	          				<span md-menu-align-target>After this task</span>
	          			</md-button>
	        		</md-menu-item>
	        		<md-menu-item>
	        			<md-button ng-click="asImage($event)">
	          				<span md-menu-align-target>As a child</span>
	          			</md-button>
	        		</md-menu-item>
	       	</md-menu-content> 
        </md-menu>
       <md-button class="md-icon-button" aria-label="Move up task" ng-disabled="true">
         <md-icon md-svg-icon="icons/ic_arrow_drop_up_white_48px.svg"></md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="Move down task" ng-disabled="true">
         <md-icon md-svg-icon="icons/ic_arrow_drop_down_white_48px.svg"></md-icon>
       </md-button>
       <span flex></span>
       <md-button class="md-icon-button" aria-label="Views" ng-disabled="true">
         <md-icon md-svg-icon="icons/ic_visibility_white_48px.svg"></md-icon>
       </md-button>
     </div>
</md-toolbar>
<!-- <vatuta-menu project-data="project"></vatuta-menu> -->
<div layout="row" flex>
	<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
		<div layout="column">
			<vatuta-task-editor project-data="project" selected-task="selectedTask"></vatuta-task-editor>
		</div>
	</md-sidenav>
	<div layout="column" flex id="content">
		<md-content layout="column" flex class>
			<vatuta-gantt project-data='project' listener="ganttListener" canvas-options='canvasOptions'></vatuta-gantt>
		</md-content>
	</div>
</div>
<View-Selector></View-Selector>