<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
  <md-list flex layout="row" layout-align="center center">
    <md-list-item>
      <md-button class="md-grid-item-content" ng-click="addTask()">
        <md-icon md-svg-src="icons/ic_add_circle_black_48px.svg"></md-icon>
        <div class="md-grid-text">Add task</div>
      </md-button>
    </md-list-item>
    <md-list-item ng-hide="!selectedTask">
      <md-button class="md-grid-item-content" ng-click="showTask()">
        <md-icon md-svg-src="icons/ic_info_black_48px.svg"></md-icon>
        <div class="md-grid-text">Task info</div>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>