<md-button class="md-icon-button" aria-label="Previous year" ng-click="previousYear()">
  <md-tooltip md-direction="bottom">Previous year</md-tooltip>
  <md-icon md-svg-icon="icons/ic_chevron_left_white_48px.svg"></md-icon>
</md-button>

<h2 class="calendarYear">
	<span>{{year}}</span>
</h2>

<md-button class="md-icon-button" aria-label="Next year" ng-click="nextYear()">
  <md-tooltip md-direction="bottom">Next year</md-tooltip>
  <md-icon md-svg-icon="icons/ic_chevron_right_white_48px.svg"></md-icon>
</md-button>
