<md-dialog aria-label="Create new task dependency" ng-cloak>
  <form name="taskDependencyForm" novalidate>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create new task dependency on {{selectedTask.index()}}.- {{selectedTask.name()}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="icons/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div class="md-dialog-content">
     <md-input-container>
        <label>Dependency type</label>
        <md-select ng-model="ctrl.type">
          <md-option value="FS" selected>
          	<md-icon md-svg-src="icons/ic_keyboard_tab_black_48px.svg" aria-label="Task dependencies"></md-icon>
            <span style="padding-left: 1em">Finish-Start</span>
            <md-tooltip>This task should start after referred one is finished.</md-tooltip>
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Task</label>
       	<md-autocomplete
          md-selected-item="ctrl.task"
          md-search-text="ctrl.searchText"
          md-items="task in ctrl.querySearch(ctrl.searchText)"
          md-item-text="task.index() + '.-' + task.name()"
          md-min-length="0"
          placeholder="Task for dependency" required>
	        <md-item-template>
	          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{task.index()}}.- {{task.name()}}</span>
	        </md-item-template>
	        <md-not-found>
	          No tasks matching "{{ctrl.searchText}}" were found.
	        </md-not-found>
        </md-autocomplete>
      </md-input-container>
      <md-input-container> <label>Delay</label>
		<input name="delay" ng-model="delayString"
			ng-model-options="{ getterSetter: true }" duration></input>
		<div ng-messages="taskDependencyForm.delay.$error" role="alert">
			<div ng-message="duration">Delay does not have a valid value, please check time units and values</div>
		</div>
		</md-input-container>
  </md-dialog-content>
  <div class="md-actions" layout="row" layout-align="space-between center">
    <md-button ng-click="cancel()" class="md-raised md-primary">Cancel</md-button>
    <span flex></span>
    <md-button ng-click="answer(ctrl.type, ctrl.task)" class="md-raised md-primary" style="margin-right:20px;" ng-disabled="taskDependencyForm.$invalid">Create</md-button>
  </div>
  </form>
</md-dialog>

