<md-dialog aria-label="Create new task dependency" ng-cloak ng-controller="TaskDependencyDialogController as ctrl">
  <form name="taskDependencyForm" novalidate>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create new task dependency on {{selectedTask.index()}}.- {{selectedTask.name()}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="icons/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content" layout="column" layout-align="center start">
     <md-input-container>
        <label>Dependency type</label>
        <md-select ng-model="ctrl.type" >
          <md-option value="FS" selected><span>Finish-Start.- This task should start after referred one is finished.</md-option>
          <md-option value="FF">Finish-Finish.- This task should end after referred one is finished.</md-option>
          <md-option value="SS">Start-Start.- This task should start after referred one has started.</md-option>
          <md-option value="SF">Start-Finish.- This task should finish after referred one has started.</md-option>
        </md-select>
      </md-input-container>
      <md-input-container style="width:100%">
        <label>Task</label>
       	<md-autocomplete
       	  md-input-name="taskSelector"
          md-selected-item="ctrl.task"
          md-search-text="ctrl.searchText"
          md-items="task in ctrl.querySearch(ctrl.searchText)"
          md-item-text="task.index() + '.-' + task.name()"
          md-min-length="0"
          placeholder="Task for dependency" required>
	        <md-item-template>
	          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{task.index()}}.- {{task.name()}}</span>
	        </md-item-template>
	        <md-not-found>
	          No tasks matching "{{ctrl.searchText}}" were found.
	        </md-not-found>
        </md-autocomplete>
        <div ng-messages="taskDependencyForm.taskSelector.$error" role="alert">
			<div ng-message="task">Not valid task selected</div>
		</div>
      </md-input-container>
      <md-input-container> <label>Delay</label>
		<input name="delay" ng-model="delay" duration></input>
		<div ng-messages="taskDependencyForm.delay.$error" role="alert">
			<div ng-message="duration">Delay does not have a valid value, please check time units and values</div>
		</div>
		</md-input-container>
	</div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="space-between center">
    <md-button ng-click="cancel()" class="md-raised md-primary">Cancel</md-button>
    <span flex></span>
    <md-button ng-click="answer(ctrl.type, ctrl.task)" class="md-raised md-primary" style="margin-right:20px;" ng-disabled="taskDependencyForm.$invalid || ctrl.invalidTask">Create</md-button>
  </md-dialog-actions>
  </form>
</md-dialog>

