<md-list-item class="md-2-line">
	<div layout = "row" layout-align="space-between center" flex>
		<div layout="row" layout-align="start center">
			<md-icon aria-label="Finish to Start condition" md-svg-icon="icons/ic_keyboard_tab_black_48px.svg" class="md-avatar-icon dependencyIcon"></md-icon>
			<div class="md-list-item-text" layout="column">
				<h3>{{restriction.shortDescription()}}</h3>
				<p>{{restriction.dependantDescription()}}</p>
			</div>
		</div>
		<div layout="row" layout-align="end center">
			<!-- <md-button aria-label="Edit restriction" class="md-fab md-mini md-raised md-primary" ng-click="ctrl.edit(restriction, $event)">
		 		<md-tooltip md-direction="top">Edit restriction</md-tooltip>
		     	<md-icon md-svg-src="icons/ic_mode_edit_white_48px.svg"></md-icon>
		  	</md-button> -->
			<md-button aria-label="Remove restriction" class="md-fab md-mini md-raised md-warn" ng-click="ctrl.remove(restriction, $event)">
		 		<md-tooltip md-direction="top">Remove restriction</md-tooltip>
		     	<md-icon md-svg-src="icons/ic_delete_white_48px.svg"></md-icon>
		  	</md-button>
		 	</div>
	</div>
</md-list-item>