<md-toolbar>
     <div class="md-toolbar-tools" >
     	<md-menu md-position-mode="target target">
	       <md-button class="md-icon-button" aria-label="File" ng-click="$mdOpenMenu($event)">
	         <md-icon md-svg-icon="icons/ic_folder_open_white_48px.svg"></md-icon>
	       </md-button>
	       <md-menu-content width="2">
	        		<md-menu-item>
		              <md-button ng-click="fileOpen($event)" aria-label="Open project">
		                  <div layout="row">
		                  	<md-icon md-menu-align-target md-svg-src="icons/ic_cloud_download_black_48px.svg"></md-icon>
		                    <p flex>Open project</p>
		                  </div>
		              </md-button>
	            	</md-menu-item>
	        		<md-menu-item>
	          			<md-button ng-click="fileSave($event)" aria-label="Save project">
	          				<div layout="row">
			                  	<md-icon md-menu-align-target md-svg-src="icons/ic_cloud_upload_black_48px.svg"></md-icon>
			                    <p flex>Save project</p>
		                    </div>
	          			</md-button>
	        		</md-menu-item>
	        		<md-menu-item>
	        			<md-button ng-click="asImage($event)" aria-label="Download as image">
	        				<div layout="row">
			                  	<md-icon md-menu-align-target md-svg-src="icons/ic_photo_black_48px.svg"></md-icon>
			                    <p flex>Download as image</p>
		                    </div>
	          			</md-button>
	        		</md-menu-item>
	       	</md-menu-content> 
        </md-menu>
        <md-menu md-position-mode="target target">
	       <md-button class="md-icon-button" aria-label="File" ng-click="$mdOpenMenu($event)">
	         <md-icon md-svg-icon="icons/ic_business_center_white_48px.svg"></md-icon>
	       </md-button>
	       <md-menu-content width="2">
	       			<md-menu-item>
		              <md-button ng-click="showProjectProperties($event)" aria-label="Project properties">
		                  <div layout="row">
		                  	<md-icon md-menu-align-target md-svg-src="icons/ic_business_center_black_48px.svg"></md-icon>
		                    <p flex>Project properties</p>
		                  </div>
		              </md-button>
	            	</md-menu-item>
	       	</md-menu-content> 
        </md-menu>
        <h2  class="projectName">
          <span>{{project.name()}}</span>
        </h2>
        <ng-transclude></ng-transclude>
       <span flex></span>
       <md-menu md-position-mode="target-right target">
	       <md-button class="md-icon-button" aria-label="Views" ng-click="$mdOpenMenu($event)">
	         <md-icon md-svg-icon="icons/ic_visibility_white_48px.svg"></md-icon>
	       </md-button>
	       <md-menu-content width="2">
	       		<md-menu-item>
	              <md-button ng-click="changeView('/gantt');" aria-label="Gantt View">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-src="icons/ic_clear_all_black_48px.svg" aria-label="Gantt view"></md-icon>
	                    <p flex>Gantt view</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	            <md-menu-item>
	              <md-button ng-click="changeView('/dataTable');" aria-label="Table View">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-src="icons/ic_view_list_black_48px.svg" aria-label="Table view"></md-icon>
	                    <p flex>Datatable view</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	            <md-menu-item>
	              <md-button ng-click="changeView('/calendar');" aria-label="Calendar View">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-src="icons/ic_today_black_48px.svg" aria-label="Calendar view"></md-icon>
	                    <p flex>Calendar view</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	       </md-menu-content>
       </md-menu>
     </div>
</md-toolbar>