<md-toolbar>
     <div class="md-toolbar-tools" >
     	<md-menu md-position-mode="target target">
	       <md-button class="md-icon-button" aria-label="File" ng-click="$mdOpenMenu($event)">
	         <md-icon md-svg-icon="icons/ic_folder_open_white_48px.svg"></md-icon>
	       </md-button>
	       <md-menu-content width="2">
	        		<md-menu-item>
		              <md-button ng-click="fileOpen($event)" aria-label="Open project">
		                  <div layout="row">
		                  	<md-icon md-menu-align-target md-svg-src="icons/ic_cloud_download_black_48px.svg"></md-icon>
		                    <p flex>Open project</p>
		                  </div>
		              </md-button>
	            	</md-menu-item>
	        		<md-menu-item>
	          			<md-button ng-click="fileSave($event)" aria-label="Save project">
	          				<div layout="row">
			                  	<md-icon md-menu-align-target md-svg-src="icons/ic_cloud_upload_black_48px.svg"></md-icon>
			                    <p flex>Save project</p>
		                    </div>
	          			</md-button>
	        		</md-menu-item>
	        		<md-menu-item>
	        			<md-button ng-click="asImage($event)" aria-label="Download as image">
	        				<div layout="row">
			                  	<md-icon md-menu-align-target md-svg-src="icons/ic_photo_black_48px.svg"></md-icon>
			                    <p flex>Download as image</p>
		                    </div>
	          			</md-button>
	        		</md-menu-item>
	       	</md-menu-content> 
        </md-menu>
        <md-menu md-position-mode="target target">
	       <md-button class="md-icon-button" aria-label="File" ng-click="$mdOpenMenu($event)">
	         <md-icon md-svg-icon="icons/ic_business_center_white_48px.svg"></md-icon>
	       </md-button>
	       <md-menu-content width="2">
	       			<md-menu-item>
		              <md-button ng-click="showProjectProperties($event)" aria-label="Project properties">
		                  <div layout="row">
		                  	<md-icon md-menu-align-target md-svg-src="icons/ic_business_center_black_48px.svg"></md-icon>
		                    <p flex>Project properties</p>
		                  </div>
		              </md-button>
	            	</md-menu-item>
	       	</md-menu-content> 
        </md-menu>
        <h2  class="projectName">
          <span>{{project.name()}}</span>
        </h2>
       <md-button class="md-icon-button" aria-label="Insert task after this" ng-hide="!selectedTask" ng-click="addSiblingAfter(selectedTask)">
         <md-tooltip md-direction="bottom">Insert task after this</md-tooltip>
         <md-icon md-svg-icon="icons/ic_vertical_align_bottom_white_48px.svg"></md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="Insert task before this" ng-hide="!selectedTask" ng-click="addSiblingBefore(selectedTask)">
         <md-tooltip md-direction="bottom">Insert task before this</md-tooltip>
         <md-icon md-svg-icon="icons/ic_vertical_align_top_white_48px.svg"></md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="Insert task as a child of this" ng-hide="!selectedTask" ng-click="addChild(selectedTask)">
       	 <md-tooltip md-direction="bottom">Insert task as a child of this</md-tooltip>
         <md-icon md-svg-icon="icons/ic_control_point_duplicate_white_48px.svg"></md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="Move up task" ng-hide="true">
       	 <md-tooltip md-direction="bottom">Move up task</md-tooltip>
         <md-icon md-svg-icon="icons/ic_arrow_drop_up_white_48px.svg"></md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="Move down task" ng-hide="true">
       	 <md-tooltip md-direction="bottom">Move down task</md-tooltip>
         <md-icon md-svg-icon="icons/ic_arrow_drop_down_white_48px.svg"></md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="Task info and properties" ng-hide="!selectedTask" ng-click="showTaskInfo()">
         <md-tooltip md-direction="bottom">Task info and properties</md-tooltip>
         <md-icon md-svg-icon="icons/ic_info_outline_white_48px.svg"></md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="Delete task" ng-hide="!selectedTask" ng-click="deleteTask(selectedTask)">
         <md-tooltip md-direction="bottom">Delete task</md-tooltip>
         <md-icon md-svg-icon="icons/ic_delete_white_48px.svg"></md-icon>
       </md-button>
       <span flex></span>
       <md-menu md-position-mode="target-right target">
	       <md-button class="md-icon-button" aria-label="Views" ng-click="$mdOpenMenu($event)">
	         <md-icon md-svg-icon="icons/ic_visibility_white_48px.svg"></md-icon>
	       </md-button>
	       <md-menu-content width="2">
	       		<md-menu-item>
	              <md-button ng-click="changeView('/gantt');" aria-label="Gantt View">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-src="icons/ic_clear_all_black_48px.svg" aria-label="Gantt view"></md-icon>
	                    <p flex>Gantt view</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	            <md-menu-item>
	              <md-button ng-click="changeView('/dataTable');" aria-label="Table View">
	                  <div layout="row">
	                  	<md-icon md-menu-align-target md-svg-src="icons/ic_view_list_black_48px.svg" aria-label="Table view"></md-icon>
	                    <p flex>Datatable view</p>
	                  </div>
	              </md-button>
	            </md-menu-item>
	       </md-menu-content>
       </md-menu>
     </div>
</md-toolbar>