<md-content>
	<section>
      <md-subheader class="md-primary">Properties</md-subheader>
		<form name="taskForm" novalidate>
			<md-input-container flex> <label>Name</label> <input
				name="name" ng-model="selectedTask.name"
				ng-model-options="{ getterSetter: true }" required></input>
			<div ng-messages="taskForm.name.$error" role="alert">
				<div ng-message="required">Task must have a name</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Description</label> <textarea
				name="description" column="1" ng-model="selectedTask.description"
				ng-model-options="{ getterSetter: true }"></textarea>
			<div ng-messages="taskForm.name.$error" role="alert">
			</div>
			</md-input-container>
			<md-input-container flex> <label>Duration</label>
			<input type="number" name="duration" ng-model="selectedTask.duration"
				ng-model-options="{ getterSetter: true }" required></input>
			<div ng-messages="taskForm.duration.$error" role="alert">
				<div ng-message="required">Task must have a duration</div>
			</div>
			</md-input-container>
			<!-- <div layout="row" layout-align="space-between center">
				<md-button class="md-raised md-primary">Cancel</md-button>
				<md-button class="md-raised md-primary">Accept</md-button>
			</div> -->
		</form>
	</section>
	<section>
      <md-subheader class="md-primary">Restrictions</md-subheader>
      <md-list>
	      <restriction-list-item restriction="restriction" ng-repeat="restriction in selectedTask.restrictions()"/>
      </md-list>
      <div layout="row" layout-align="end center">
      	<md-fab-speed-dial md-direction="left" ng-class="md-fling">
      		<md-fab-trigger>
	        	<md-button aria-label="menu" class="md-fab md-mini md-warn">
	        		<md-tooltip md-direction="top">Add restriction</md-tooltip>
	            	<md-icon md-svg-src="/icons/ic_add_black_48px.svg"></md-icon>
          		</md-button>
        	</md-fab-trigger>
        	<md-fab-actions>
	          <md-button aria-label="Task dependencies" class="md-fab md-raised md-mini">
	          	<md-tooltip md-direction="top">Task dependency</md-tooltip>
	            <md-icon md-svg-src="icons/ic_keyboard_tab_black_48px.svg" aria-label="Task dependencies"></md-icon>
	          </md-button>
	          <md-button aria-label="Time constraints" class="md-fab md-raised md-mini">
	          	<md-tooltip md-direction="top">Time constraint</md-tooltip>
	            <md-icon md-svg-src="icons/ic_event_black_48px.svg" aria-label="Time constraint"></md-icon>
	          </md-button>
	        </md-fab-actions>
      	</md-fab-speed-dial>
      </div>
    </section>
</md-content>
